
%table.radioset
  %tr.labels
    %td= label_tag(:ready,  "Ready")
    %td= label_tag(:review, "Review later")
  %tr.buttons
    %td= radio_button_tag("pdg[#{pdgid}][extras][status]", "ready", checked=1)
    %td= radio_button_tag("pdg[#{pdgid}][extras][status]", "review")
