
- pdgid = paradigm.paradigm_type_id

%table.radioset
  %tr.labels
    %td= label_tag :ready,  "Ready"
    %td= label_tag :review, "Review later"
    %td.empty
  %tr.buttons
    %td= radio_button_tag "pdg[#{idx}][#{pdgid}][extras][status]", :ready,  paradigm.ready_or_new?
    %td= radio_button_tag "pdg[#{idx}][#{pdgid}][extras][status]", :review, paradigm.review?
    %td
