
- section = "##{@page_section_id}"

/* message */
$("#{section} .notice").html('<div class="alert alert-success">Paradigm was successfully deleted</div>').fadeOut(3000)

$("#{section} .paradigm").addClass('deleted');

/* disable the link after the first click */
$("#{section} .btn_delete").attr('disabled', 'disabled');
$("#{section} .btn_save").attr('disabled', 'disabled');

