
- @paradigms.each do |pdg|
  -# show extra info (ID, COMMENT), each commented out
  -# #ID \tab 139
  - [:id, :status, :comment].each do |attr|
    - if ! pdg.send(attr).to_s.empty?
      :plain
        ##{attr.upcase}	#{pdg.send(attr)}

  -# show word+tag pairs
  -# TAG \tab WORD
  - pdg.each_word_with_tag do |word, tag|
    - if tag.notag?
      -# ignore NOTAG
    - elsif ! word.text
      :plain
        #{tag.name}	=NULL
    - else    
      :plain
        #{tag.name}	#{word.text}
  \
