

- idx ||= 1 -# any will do

%h2= @title

= form_for(@paradigm) do |f|
  - if @current_word
    Current word:
    %span#current_word= @current_word.text
    %span#notice &nbsp;
    = hidden_field_tag :word_id, @current_word.id, id: 'current_word_id'
    %p

  = render partial: 'paradigm_for_form', locals: { paradigm: @paradigm, idx: idx, current_word: @current_word }

  %table.buttons
    %tr
      %td= f.submit "Save", accesskey:"s", class:'btn btn_save'
      %td.empty
      %td= link_to "Delete", |
                   url_for(controller: 'paradigms', action:'destroy', id: @paradigm.id), |
                   remote: true, method: :delete, |
                   class: 'btn btn_delete'  |
