
%h2= @title

/ count of all pdgs (section) displayed
- idx = 0
- @word ||= nil

%div.pdg_stubs
  -#%div#stub_for_pdg_of_type_other
  -#  = text_field_tag "pdg[#{idx}][other][notag][tag]",  "", placeholder: "TAG",              class: "tag"
  -#  = text_field_tag "pdg[#{idx}][other][notag][word]", "", placeholder: "word or word_TAG", class: "word"

  - @paradigm_types.each do |pdg|
    %div{id:"stub_for_pdg_of_type_#{pdg.paradigm_type_id}"}
      = render partial: 'paradigm_for_form', locals: { paradigm: pdg, idx: idx, current_word: @word }
      %p

= form_for(@paradigms.first) do |f|
  / = render 'shared/error_messages'
  - if @word
    New word: 
    %span#current_word= @word.text
    = hidden_field_tag :word_id, @word.id, id: 'current_word_id'
    %p

  %div.pdg_creation_buttons
    Add paradigm of type:
    -# %button{type:  'button',
      class: 'btn primary btn_pdg_creator',
      id:    'pdg_of_type_other',
      title: 'Free tag/word input' } Other

    - @paradigm_types.each do |pdg|
      %button{type:  'button',
              class: 'btn primary btn_pdg_creator',
              id:    "pdg_of_type_#{pdg.paradigm_type_id}",
              title: "Create empty type #{pdg.paradigm_type.name} paradigm"}= pdg.paradigm_type.name
    %p

  %div.paradigms
    -# @paradigms.each do |pdg|
      -# idx += 1
      -# render partial: 'paradigm_for_form', locals: { paradigm: pdg, idx: idx }
      %p

  %div.save= f.submit "Save", accesskey:"s"

          
