
%h2= @title

= form_for(@paradigms.first) do |f|
  / = render 'shared/error_messages'
  - if @word
    New word: 
    = @word.text
    = hidden_field_tag :word_id, @word.id

  - @paradigms.each do |pdg|
    = render partial: 'paradigm_for_form', locals: { paradigm: pdg }
    %p

  %div.save= f.submit "Save", accesskey:"s"

          
