
%h2= @title

-# count of all pdgs (section) displayed
- idx = 0
- @word ||= nil

%div.pdg_creation_buttons
  Add paradigm of type:
  - @paradigm_types.each do |pdg|
    %span.has_balloon
      = link_to "#{pdg.paradigm_type.name}", |
                url_for(controller: 'paradigms', action: 'new_paradigm_of_type', |
                        id: pdg.paradigm_type_id), |
                remote: true, method: :get, class: 'btn btn_pdg_creator'
      %span.balloon Create empty type #{pdg.paradigm_type.name} paradigm
  %p

- if @word
  New word: 
  %span#current_word= @word.text

%div.paradigms


