
- options = {:partial => 'paradigm_for_form', :locals => { paradigm: @paradigm, idx: @idx}}
- data = escape_javascript(render options)

- section = "div##{@page_section_id}"
if ( $("#{section}").length == 0 ) {
$(".paradigms").prepend("#{data}")
} else {
$("#{section}").replaceWith("#{data}")
}


do_on_document_ready()
set_focus_to_editable_input($("#{section}"))
