
- options = {:partial => 'paradigm_for_form', :locals => { paradigm: @paradigm, idx: @idx}}
- data = escape_javascript(render options)

- section = "div##{@page_section_id}"
if ( ! $("#{section}").length ) {
$(".paradigms").prepend($("<div id='#{@page_section_id}'>"))
}

$("#{section}").html("#{data}")

do_on_document_ready()
