
%tr
  %td.login= task.user.login
  %td.task_id= task.id
  %td.priority= task.priority
  %td.words= render partial: "words/word_in_task", collection: task.words, as: :word
  %td.time= task.updated_at
