
- btn_label ||= "Unknown"
- btn_action ||= "undefined"

%tr{id: "task_#{task.id}"}
  %td.center= task.id
  %td.center= task.priority
  %td.center= task.status
  %td= render partial: "words/word_in_task", collection: task.words, as: :word
  / can use link_to instead of button_to, all other arguments are the same
  %td.center= link_to btn_label, |
       url_for(controller: 'tasks', action: btn_action, id: task), |
       remote: true, method: :put, |
       class: "btn_#{btn_action}_task" |
 
