%p
  There are currently
  %span.count_of_tasks= pluralize(@tasks.count, "unassigned task")
  , and you have
  %span.count_of_user_tasks= pluralize(@user_tasks.count, "task")
  =link_to "assigned to you.", user_tasks_path(current_user)
  For viewing all completed tasks go 
  =link_to "here", ready_tasks_path

%p
  =render partial: 'tasks/generate_tasks_button'

-# additional params are necessary to ensure the correct links are
-# generated both when #index and #take controllers work  
- will_paginate_params = { params: {controller: 'tasks', action: 'index'} }

= will_paginate @tasks, will_paginate_params

= render partial: "tasks/tasks_in_table", |
         locals: {btn_action: 'take', btn_label: 'Take', col_label: 'Take task'}

= will_paginate @tasks, will_paginate_params
