- @show_unfinished_tasks ||= false

%div#tasks

  %p
    You currently have
    %span.count_of_tasks= pluralize(@new_tasks.count + @unfinished_tasks.count, "task")
    assigned to you. For viewing completed tasks go
    =link_to "here", ready_user_tasks_path(@user)

  %p= render partial: 'tasks/generate_tasks_button'

  - if @show_unfinished_tasks
    %h4 Unfinished tasks

    - if @unfinished_tasks.empty?
      %p You have no runnings tasks
    - else
      %p You've been doing #{pluralize(@unfinished_tasks.count, "task")}

      = render partial: "tasks/tasks_in_table", |
      locals: {tasks: @unfinished_tasks, btn_action: 'drop', |
               btn_label: 'Drop', col_label: 'Drop task'}

  %h4 Not started tasks

  - if @new_tasks.empty?
    %p
      You have no new tasks in the backlog.
      Would you mind #{link_to("taking some", tasks_path)}?

  - else
    - msg = "are other #{@new_tasks.count} tasks"
    - if @new_tasks.count == 1
      - msg = "is another task (wow, only one)"

    %p There #{msg} that await your attention

    -# additional params are necessary to ensure that the links are
    -# generated correctly in both tasks_controller#{index,drop}
    - will_paginate_params = { params: {action: 'index', user_id: @user.id} }

    = will_paginate @new_tasks, will_paginate_params

    = render partial: "tasks/tasks_in_table", |
             locals: {tasks: @new_tasks, btn_action: 'drop', |
                      btn_label: 'Drop', col_label: 'Drop task'}

    = will_paginate @new_tasks, will_paginate_params

  %p &nbsp;
