- @show_stats_table ||= false

%h2= @title

- if @show_stats_table
  = render partial: 'ready_tasks_stats'

%h4 The reference of the completed tasks starting with the most recently updated.

= will_paginate @tasks

%table.table_of_tasks
  %thead
    %tr
      %th.login User name
      %th.task_id ID
      %th.priority Priority
      %th.words Words
      %th.time Last updated
    %tbody
      = render partial: "tasks/ready_task", collection: @tasks, as: :task


= will_paginate @tasks
