%h2= @title

%p Want to find a specific word?

= render partial: 'search_sentences_form'

%p There are #{@sentences.count} sentences.

= will_paginate @sentences

%table#sentences
  %thead
    %tr
      %th.id ID
      %th.sentence Sentence
  %tbody
    - @sentences.each do |sent|
      %tr
        %td.id= sent.id
        %td.sentence!= to_html(sent, @found_tokens)

= will_paginate @sentences
