%h2 All sentences available in DB

%p Want to find a specific word?

= render partial: 'search_sentences_form'

%p There are #{@sentences.count} sentences.

= will_paginate @sentences

%table#sentences
  %thead
    %tr
      %th ID
      %th Sentence
  %tbody
    - @sentences.each do |sent|
      %tr
        %td= sent.id
        %td!= to_html(sent, @found_tokens)

= will_paginate @sentences
