
- @title = @user.login

%h3 Showing dossier on user #{@user.login}

%table{border:1}
  %thead
    %tr
      %th ID
      %th Login
      %th Email
      %th Password (haha)
  %tbody
    %tr
      %th= @user.id
      %th= @user.login
      %th= @user.email
      %th= @user.password

%div.tasks
  %h4 Your dictionary tasks

  %p You currently have #{@tasks.count} tasks assigned to you

  = will_paginate @tasks

  %table{border:1}
    %thead
      %tr
        %th TaskID
        %th Priority
        %th Status
        %th Words
      %tbody
        = render @tasks

  = will_paginate @tasks
