
%h3 Showing dossier on user #{@user.login}

%table{border:1}
  %thead
    %tr
      %th ID
      %th Login
      %th Email
      %th Password (haha)
  %tbody
    %tr
      %th= @user.id
      %th= @user.login
      %th= @user.email
      %th= @user.password

%h4 Useful links

= link_to "My tasks", user_tasks_path(current_user)



