
- @title = @user.login

%h3 Showing dossier on user #{@user.login}

%table{border:1}
  %thead
    %tr
      %th ID
      %th Login
      %th Email
      %th Password (haha)
  %tbody
    %tr
      %th= @user.id
      %th= @user.login
      %th= @user.email
      %th= @user.password

%div.tasks
  %h4 Your dictionary tasks

  %p
    You currently have
    %span.count_of_tasks= pluralize(@tasks.count, "task")
    assigned to you

  = will_paginate @tasks

  = render partial: "tasks/tasks_in_table", |
           locals: {tasks: @tasks, btn_action: 'drop', btn_label: 'Drop task'}

  = will_paginate @tasks
