
= form_for "token_filters", method: 'get', html: {id: 'filters_form'} do |f|
  = hidden_field_tag 'orderby', @order_by_column

  %table#filters_form_table
    %tr
      %td.has_lbl= label_tag "Include tokens already in tasks:"
      %td.has_chb= check_box_tag :assigned, 1, filter_checked?(:assigned), class: 'chb'
      %td &nbsp;
      %td.empty &nbsp;
      %td &nbsp;
      %td &nbsp;

    %tr
      %td.has_lbl= label_tag "Entirely lowercase:"
      %td.has_chb= check_box_tag :al,       1, filter_checked?(:al),       class: 'chb'
      %td &nbsp;
      %td.empty &nbsp;
      %td &nbsp;
      %td &nbsp;

    %tr
      %td.has_lbl= label_tag "Entirely uppercase:"
      %td.has_chb= check_box_tag :au,       1, filter_checked?(:au),       class: 'chb'
      %td.has_btn{rowspan:2}= f.submit "Filter", id: 'btn_filter', class: 'btn'
      %td.empty &nbsp;
      %td.has_btn{rowspan:2}= link_to "Generate 5 tasks", "#", method: 'get', class: 'btn', id: 'btn_generate_tasks'
      %td.has_chb.autoassign{rowspan:2}= check_box_tag :autoassign, 1, filter_checked?(:autoassign), class: 'chb', id: 'chb_autoassign'

    %tr
      %td.has_lbl= label_tag "In Titlecase:"
      %td.has_chb= check_box_tag :tc,       1, filter_checked?(:tc),       class: 'chb'
      %td.empty &nbsp;
