
-# text displayed on the buttons. must not be changed!
- btn_filter_value = "Filter"
-# btn_generate_tasks_value = filter_checked?(:autoassign) ? "Take 5 tasks" : "Generate 5 tasks"

= form_for "token_filters", method: 'get', html: {id: 'filters_form'} do |f|
  = hidden_field_tag 'orderby', @order_by_column
  = hidden_field_tag 'page', @page

  -#= select_tag :user_id, options_for_select(@users_for_select), include_blank: true
  -#= collection_select(:user, :id, @users, :id, :login, include_blank: true)

  %table#filters_form_table
    %tr
      %td.has_lbl= label_tag "Include tokens already in tasks:"
      %td.has_chb= check_box_tag :assigned, 1, filter_checked?(:assigned), class: 'chb'
      %td.has_lbl= label_tag "Include good"
      %td.has_chb= check_box_tag :good, 1, filter_checked?(:good), class: 'chb'
      %td.has_lbl= label_tag "bad"
      %td.has_chb= check_box_tag :bad,  1, filter_checked?(:bad), class: 'chb'
      %td &nbsp;
      -#%td.empty &nbsp;
      -#%td &nbsp;
      -#%td &nbsp;

    %tr
      %td.has_lbl= label_tag "Entirely lowercase:"
      %td.has_chb= check_box_tag :al,       1, filter_checked?(:al),       class: 'chb'
      %td &nbsp;
      %td &nbsp;
      %td &nbsp;
      %td &nbsp;
      -#%td.empty &nbsp;
      -#%td &nbsp;
      -#%td &nbsp;

    %tr
      %td.has_lbl= label_tag "Entirely uppercase:"
      %td.has_chb= check_box_tag :au,       1, filter_checked?(:au),       class: 'chb'
      %td &nbsp;
      %td &nbsp;
      %td &nbsp;
      %td &nbsp;
      %td &nbsp;

    %tr
      %td.has_lbl= label_tag "In Titlecase:"
      %td.has_chb= check_box_tag :tc,       1, filter_checked?(:tc),       class: 'chb'
      %td &nbsp;
      %td &nbsp;
      %td &nbsp;
      %td &nbsp;
      %td.has_btn{rowspan:2}= f.submit "#{btn_filter_value}", id: 'btn_filter', class: 'btn'

    %tr
      %td.has_lbl= label_tag "Where user is:" 
      %td{colspan:4}= select_tag :user_id, options_for_select(@users_for_select), include_blank: true
