%h3= @title

= render partial: 'tokens/token_filters_form'

-# reset to Filter when paginating after pressing <Generate Tasks>
- will_paginate_params = {params: {commit: 'Filter'}}

= will_paginate @tokens, will_paginate_params

= render partial: 'tokens/table_of_words', locals: {tokens: @tokens}

= will_paginate @tokens, will_paginate_params

