%h3= @title

= will_paginate @tokens

%table#table_of_words
  %thead
    %tr
      %th.word Word
      %th.has_balloon
        =link_to "CF", "#"
        %span.balloon Corpus frequency of the word
      %th.has_balloon
        =link_to "ND", "#"
        %span.balloon Number of docs having the word
      %th.has_balloon
        =link_to "CF*ND", "#"
        %span.balloon product of CF and ND
      %th.has_balloon
        =link_to "UpCF", "#"
        %span.balloon Corpus frequency of all case variants of the word
      %th.has_balloon
        =link_to "UpND", "#"
        %span.balloon Number of docs having all case variants of this word
      %th.has_balloon
        =link_to "UpCF*UpND", "#"
        %span.balloon Product of Up-CF and Up-ND
      %th.has_balloon
        =link_to "Task #", "#"
        %span.balloon Task id, if assigned, or 0 otherwise
  %tbody
    - @tokens.each do |token|
      %tr
        %td.word.has_balloon
          = link_to token.text, sentences_search_path(word: token.text)
          %span.balloon Click to search or Shift+Click to search all case variants
        %td= token.corpus_freq
        %td= token.number_docs
        %td= token.cfnd
        %td= token.upcased_corpus_freq
        %td= token.upcased_number_docs
        %td= token.upcased_cfnd
        %td= token.task_id

= will_paginate @tokens
