
- @tokens.each do |token|
  - rowid = "token-id-#{token.id}"
  $("##{rowid} .task_id").html("#{token.task_id}")
  $("##{rowid} .take").removeClass('none').addClass("#{show_take(token)}")
  $("##{rowid} .drop").removeClass('none').addClass("#{show_drop(token)}")


