%h2 Help
%p Need help? You've come to the right place

%h3 Deploying the application

%code git clone

%p

%code bundle install

%p and start the app by executing the command

%code rails s

%h3 How to populate the database with initial data: tagset, paradigm types, users ?

%p
  All files that contain initial data for the database tables is contained in the directory
  %code db/seeds/

%p
  Tagset is available in the file:
  %code db/seeds/tagset_{eng,fr}.txt

%p
  Paradigm types are listed in:
  %code db/seeds/paradigm_types_{eng,fr}.txt

%p The simplest way of loading the data (that includes users, tagset, paradigm types) in DB is by running the following rake command:

%code IMC_PROSAO_LANGNAME=English rake db:seed
%p or
%code IMC_PROSAO_LANGNAME=French rake db:seed
%p or if a prosao is available in the environment and its language is suitable
%code rake db:seed

%p Alternatively, uploading tagset through the command line is possible by executing the following command:

%code curl -F "tags[file]=@db/seeds/tagset_eng.txt" #{tags_upload_url}
-# http://server:3000/tags/upload

%p

%p Paradigm types can similarly be either seeded as described above or uploaded via command line by running:

%code curl -F "paradigm_types[file]=@db/seeds/pdg_types_eng.txt" #{paradigm_types_upload_url}
-# http://server:3000/paradigm_types/upload

%p

%p
  Users can either sign up individually by filling in the form at 
  %code #{link_to("Signup Page", signup_path)}
  or the list of users
  %code db/seeds/users.txt
  can be seeded as described above.

%h3 How to add new words

%p Use curl to upload a plain text file:

%code curl -F "words[file]=@/path/to/file" #{words_upload_url}
-# http://server:3000/words/upload

%p

%p Note @ before the path! The path can be either absolute or relative.

%h4 Format of the file to upload

%p each line has 1+ tab separated fields, the 1st mandatory field is assumed to be the word itself, the 2nd optional field is the priority (1..10)

%p special lines: tasksize=NUM and priority=NUM

%pre
  
  \# word \tab priority
  tasksize=2
  car	9
  pen	9
  pencil	9
  pens	9
  cup	8
  bricolage
  Emacs
  Ruby
  Python
  project
  development
  bugs
  develop
  new
  create
  save	2
  model	2
  controller

%p
  You can download this file
  = link_to "here", "newwords.txt"

%h2 How to add sentences

%p Initial import should be performed from CSV data. Steps to take

%ol
  %li Tokenize text files using prosao tools. Keep ==DOC-SEPARATOR== markers. And preferably keep the original file names (they will be also added to the DB).
  %li Convert data to utf-8
  %li Use bin/text2csv.rb script to convert data to tab-separated CSV files. This script should be run for all CSV files at once.
  %li
    Prepare the database. You may have already done it if you had run
    %code rake db:migrate
    previously.
  %li
    Import all CSV files.
    %ol
      %li
        %code cd
        to the directory where all CSV files are located
      %li
        Run the command:
        %code sqlite3 path/to/db/production.sqlite3 < path/to/bin/import_csv.sql

%p
  As a result of the above, the tables Documents, Sentences, Tokens and Sentence_Tokens will first be purged and subsequently repopulated with data from CSV files. You can read more in
  %code bin/import_csv.sql

%p Incremental additions should be accomplished using the procedure described below. This is a slow process but for small amounts of data it will complete in acceptable time.

%code curl -F "sentences[file]=@tmp/sentences.txt" http://krot:3000/sentences/upload

%ul
  %li Data is assumed to be in UTF-8 encoding
  %li No filtering of dupicates is intended.

%p NOTE: duplicate sentences will be added if present in the source data file.

%h2 How to retrieve ready words

%code curl http://server:3000/paradigms/peek/ready

%p
