
%h4= @title

%p Document title: #{@document.title}

%p The document contains #{@sentences.count} sentences that together contain #{@document.tokens.count} tokens (incl. punctuation marks).

= render partial: 'sentences/sentences'

