- @show_link_to_self ||= false

- is_current = word.same?(@current_word)
- img_name = is_current ? 'bullet_star.png' : 'bullet_blue.png'

%div.word{class: ('active' if is_current) }
  = image_tag "#{img_name}"

  -# show link to self in #edit page and do not show on #new page
  - if is_current && ! @show_link_to_self
    = word.text
  - else          
    = link_to word.text, new_paradigm_path(:word_id => word)

  -# list of tags
  - if word.paradigm_id
    - each_word_with_link_to_paradigm_edit(word) do |wd, lnk|
      %div.tag
        = image_tag "#{select_bullet_image(wd)}"
        != lnk
