
%div.header
  = link_to "Home", root_path
  |
  = link_to "My page", user_path(current_user)
  |
  = link_to "My tasks", user_tasks_path(current_user)
  |
  = link_to "All tasks", tasks_path
  |
  = link_to "Search", sentences_path
  |
  = link_to "Help", help_path
  |
  - if signed_in?
    = link_to "Sign out", signout_path, method: "delete"
  - else
    = link_to "Sign in", signin_path

  
